# Open Kaggle Jobs

In [25]:
from scrapy import *
import pandas as pd
import re
import datetime as dt

In [57]:
def parse_ttl_loc_kg(text):
    regex_co = r'^(.*?)[-]'
    regex_ttl = r'[-](.*?)[(]'
    regex_loc = r'[(](.*?)[)]'
    
    job_title = re.search(regex_ttl, text).group(1).strip()
    location = re.search(regex_loc, text).group(1).strip()
    company = re.search(regex_co, text).group(1).strip()
        
    return job_title, location, company



def get_kg_df(links):
    ct = 0
    regex = r'/forums/f/145/data-science-jobs/t/(.*?)[/]'
    text = {}
    link_dict = {}
    
    for link in links:
        ct += 1
        ID = re.search(regex, link).group(1)
        try:
            text[ID] = get_text(link)
            link_dict[ID] = link
        except:
            continue
        if ct % 10 == 0:
            print('Opened link {0} of {1}'.format(ct,len(links)))
        
        time.sleep(5)
    
    series = pd.Series(text)
    parsed = series.apply(parse_ttl_loc_kg)
    df = pd.concat([series, parsed], axis=1)
    df[['Title', 'Location', 'Company']] = df[1].apply(pd.Series)
    df = df.drop(1,1)
    df = df.rename(columns = {0:'Text'})
    df['link'] = pd.Series(link_dict)
    df['date'] = dt.datetime.today().strftime("%m/%d/%Y")
    return df

In [58]:
ds_links, ds_ids = crawl_kg()

pulling links from page 1
Got 20 links from page 1
pulling links from page 2
Got 20 links from page 2
pulling links from page 3
Got 20 links from page 3
pulling links from page 4
Got 20 links from page 4
pulling links from page 5
Got 20 links from page 5
pulling links from page 6
Got 20 links from page 6
pulling links from page 7
Got 20 links from page 7
pulling links from page 8
Got 20 links from page 8
pulling links from page 9
Got 20 links from page 9
pulling links from page 10
Got 20 links from page 10

In [59]:
kg_df = get_kg_df(ds_links)

Opened link 10 of 200
Opened link 20 of 200
Opened link 30 of 200
Opened link 40 of 200
Opened link 50 of 200
Opened link 60 of 200
Opened link 70 of 200
Opened link 80 of 200
Opened link 90 of 200
Opened link 100 of 200
Opened link 110 of 200
Opened link 120 of 200
Opened link 130 of 200
Opened link 140 of 200
Opened link 150 of 200
Opened link 160 of 200
Opened link 170 of 200
Opened link 180 of 200
Opened link 190 of 200
Opened link 200 of 200

In [60]:
kg_df[kg_df.Location == 'Chicago']

,Text,Title,Location,Company,link
14959,Genscape - Data Scientist (Chicago) | Kaggle H...,Data Scientist,Chicago,Genscape,https://www.kaggle.com/forums/f/145/data-scien...
15779,DRW Trading Group - Trading Analyst/Data Scien...,Trading Analyst/Data Scientist,Chicago,DRW Trading Group,https://www.kaggle.com/forums/f/145/data-scien...
15816,DRIVIN - Data Scientist (Chicago) | Kaggle Hos...,Data Scientist,Chicago,DRIVIN,https://www.kaggle.com/forums/f/145/data-scien...
16245,Blue Cross & Blue Shield - Sr. Analytics & Rep...,Sr. Analytics & Reporting Analyst,Chicago,Blue Cross & Blue Shield,https://www.kaggle.com/forums/f/145/data-scien...
16312,Spartz - Data Scientist (Chicago) | Kaggle Hos...,Data Scientist,Chicago,Spartz,https://www.kaggle.com/forums/f/145/data-scien...

In [ ]:
import datetime
now = datetime.datetime.now()
kg_df.to_csv('DS_Kaggle_{0}_{1}_{2}.csv'.format(now.month,now.day,now.year))