# Open Glassdoor Jobs
Beware: Glassdoor will return Data Science Jobs with a Statistics Query and vice-versa.

In [127]:
from scrapy import *
import pandas as pd

In [128]:
def remove_duplicates(ds_links, stats_links, ds_ids, stats_ids):
    bad_ids = list(set(ds_ids).intersection(stats_ids))
    for ID in bad_ids:
        stats_links = [x for x in stats_links if ID not in x]
        ds_links = [x for x in ds_links if ID not in x]

    return ds_links, stats_links



def get_text(link):

    soup = get_soup(link)

    for script in soup(["script", "style"]):
        script.extract()    # rip it out

    # get text
    text = soup.get_text()

    # break into lines and remove leading and trailing space on each
    lines = (line.strip() for line in text.splitlines())
    # break multi-headlines into a line each
    chunks = (phrase.strip() for line in lines for phrase in line.split("  "))
    # drop blank lines
    text = ' '.join(chunk for chunk in chunks if chunk)

    return text



def parse_ttl_loc_gd(text):
    try:
        chunks = text.split(' Job in ')
        job_title = chunks[0]
        location = " ".join(chunks[1].split(' ')).split(' | ')[0]
    except IndexError:
        job_title = 'NA'
        location = 'NA'
        
    return job_title, location



def get_gd_df(links):
    ct = 0
    regex = r'ListingId=(.*)'
    text = {}

    for link in links:
        ct += 1
        ID = re.search(regex, link).group(1)
        text[ID] = get_text(link)
        
        if ct % 10 == 0:
            print('Opened link {0} of {1}'.format(ct,len(links)))
        
        time.sleep(5)
    
    series = pd.Series(text)
    parsed = series.apply(parse_ttl_loc_gd)
    df = pd.concat([series, parsed], axis=1)
    df[['Title', 'Location']] = df[1].apply(pd.Series)
    df = df.drop(1,1)
    df = df.rename(columns = {0:'Text'})
    return df

### Get the Links to the JDs

In [129]:
ds_links, ds_ids = crawl_gd()

pulling links from page 1
Got 30 links from page 1
pulling links from page 2
Got 29 links from page 2
pulling links from page 3
Got 19 links from page 3
pulling links from page 4
Got 14 links from page 4
pulling links from page 5
Got 0 links from page 5

In [130]:
stats_links, stats_ids = crawl_gd(q='stats')

pulling links from page 1
Got 30 links from page 1
pulling links from page 2
Got 24 links from page 2
pulling links from page 3
Got 28 links from page 3
pulling links from page 4
Got 21 links from page 4
pulling links from page 5
Got 27 links from page 5

### Remove Duplicates
Since we are seaching Glassdoor for both Data Science jobs and Statistician jobs, some of them will be duplicate. This step ensures that each group of jobs is only present during a search for that specific job.

In [131]:
ds_links, stats_links = remove_duplicates(ds_links,stats_links,ds_ids,stats_ids)

### Get the DataFrames

In [132]:
ds_df = get_gd_df(ds_links)

Opened link 10 of 80
Opened link 20 of 80
Opened link 30 of 80
Opened link 40 of 80
Opened link 50 of 80
Opened link 60 of 80
Opened link 70 of 80
Opened link 80 of 80

In [133]:
stats_df = get_gd_df(stats_links)

Opened link 10 of 118
Opened link 20 of 118
Opened link 30 of 118
Opened link 40 of 118
Opened link 50 of 118
Opened link 60 of 118
Opened link 70 of 118
Opened link 80 of 118
Opened link 90 of 118
Opened link 100 of 118
Opened link 110 of 118

In [136]:
ds_df

,Text,Title,Location
1229635527,"Concurrency, Inc. - Brookfield, WI Project Man...","Concurrency, Inc. - Brookfield, WI Project Man...","Chicago, IL"
1308356035,Tech contingency Data Scientist| Statistician|...,Tech contingency Data Scientist| Statistician|...,"Chicago, IL"
1349690519,Soci�t� G�n�rale Information Technology - Data...,Soci�t� G�n�rale Information Technology - Data...,"Chicago, IL"
1421650344,Sears Data Scientist (Hoffman Estates Job in M...,Sears Data Scientist (Hoffman Estates,"Melrose Park, IL"
1421758966,Home Services - Parts Supply Chain Data Scient...,Home Services - Parts Supply Chain Data Scient...,"Melrose Park, IL"
1434129448,IBM Watson Analytics Data Scientist Job in Chi...,IBM Watson Analytics Data Scientist,"Chicago, IL"
1462351566,GE Transportation Lead Data Scientist Job in C...,GE Transportation Lead Data Scientist,"Chicago, IL"
1477728236,Uptake Data Scientist Programmer Intern *FALL ...,Uptake Data Scientist Programmer Intern *FALL ...,"Chicago, IL"
1490686856,Raise Marketplace Inc. Data Scientist Job in C...,Raise Marketplace Inc. Data Scientist,"Chicago, IL"
1493048803,IBM Watson Health Data Scientist Job in Chicag...,IBM Watson Health Data Scientist,"Chicago, IL"
1510181631,Actuarial Job at Ezra Penland Actuarial Recrui...,NA,NA
1528614836,"Avant Senior Data Scientist Job in Chicago, IL...",Avant Senior Data Scientist,"Chicago, IL"
1528614837,"Avant Data Scientist Job in Chicago, IL | Glas...",Avant Data Scientist,"Chicago, IL"
1530792394,PwC Data Scientist Deals Solutions Job in Chic...,PwC Data Scientist Deals Solutions,"Chicago, IL"
1531723516,Teradata Think Big Principal Data Scientist Jo...,Teradata Think Big Principal Data Scientist,"Chicago, IL"
1532085507,Deloitte Data Scientist/Natural Language Proce...,Deloitte Data Scientist/Natural Language Proce...,"Chicago, IL"
1532086177,Deloitte Data Scientist/Back End Python Develo...,Deloitte Data Scientist/Back End Python Developer,"Chicago, IL"
1539145419,Deloitte Manager - Advanced Analytics Enableme...,Deloitte Manager - Advanced Analytics Enableme...,"Chicago, IL"
1553131680,"NCSA Data Scientist Job in Chicago, IL | Glass...",NCSA Data Scientist,"Chicago, IL"
1557434935,Ninjob | Employment Marketing Property and Cas...,Ninjob | Employment Marketing Property and Cas...,"Chicago, IL"
1566618796,"Persio Data Scientist Job in Chicago, IL | Gla...",Persio Data Scientist,"Chicago, IL"
1569137136,"Spartz Senior Data Scientist Job in Chicago, I...",Spartz Senior Data Scientist,"Chicago, IL"
1571992717,"Blue Cross and Blue Shield of Illinois, Montan...","Blue Cross and Blue Shield of Illinois, Montan...","Chicago, IL"
1572955656,NAVTEQ Principal Data Scientist Job in Chicago...,NAVTEQ Principal Data Scientist,"Chicago, IL"
1575309427,Ninjob | Employment Marketing Health Data Scie...,Ninjob | Employment Marketing Health Data Scie...,"Chicago, IL"
1575727050,Groupon Careers GrouponJobs Careers Teams Loca...,NA,NA
1582925635,"Catalina Senior Director, Data Science Job in ...","Catalina Senior Director, Data Science","Chicago, IL"
1584003784,"Deloitte Senior Consultant, Data Management & ...","Deloitte Senior Consultant, Data Management & ...","Chicago, IL"
1584009643,"Deloitte Senior Manager, Data Management & Arc...","Deloitte Senior Manager, Data Management & Arc...","Chicago, IL"
1584009679,"Deloitte Manager, Data Management & Architectu...","Deloitte Manager, Data Management & Architectu...","Chicago, IL"
...,...,...,...
1616704732,"GrubHub Senior Data Scientist Job in Chicago, ...",GrubHub Senior Data Scientist,"Chicago, IL"
1623574240,Bank of America Cyber Security Hadoop Data Sci...,Bank of America Cyber Security Hadoop Data Sci...,"Chicago, IL"
1623590403,Trunk Club Software Engineer (Data Science) Jo...,Trunk Club Software Engineer (Data Science),"Chicago, IL"
1623590415,Trunk Club Data Engineer (Data Science) Job in...,Trunk Club Data Engineer (Data Science),"Chicago, IL"
1624662407,Ninjob | Employment Marketing PhD or Master's ...,Ninjob | Employment Marketing PhD or Master's ...,"Chicago, IL"
1624729249,Wurldtech Security Technologies Lead Data Scie...,Wurldtech Security Technologies Lead Data Scie...,"Chicago, IL"
1625412202,"Anthem, Inc Data Scientist Job in Chicago, IL ...","Anthem, Inc Data Scientist","Chicago, IL"
1627344533,Managed Health Care Company Data Scientist Job...,Managed Health Care Company Data Scientist,"Chicago, IL"
1628276458,"Trunk Club Data Scientist Job in Chicago, IL |...",Trunk Club Data Scientist,"Chicago, IL"
1629289627,"Grainger Sr. Analyst, Business Insights (Data ...","Grainger Sr. Analyst, Business Insights (Data ...","Chicago, IL"
1630518467,Deloitte PCOE Data Scientist Sr. Consultant Jo...,Deloitte PCOE Data Scientist Sr. Consultant,"Chicago, IL"
1630883848,Deloitte Data Scientist - VizStudio - Universi...,Deloitte Data Scientist - VizStudio - Universi...,"Chicago, IL"
1633254282,University of Chicago Medical Center Project C...,University of Chicago Medical Center Project C...,"Chicago, IL"
1633681275,"envisionit Data Scientist Job in Chicago, IL |...",envisionit Data Scientist,"Chicago, IL"
1634274682,"Bank of America Data Scientist Job in Chicago,...",Bank of America Data Scientist,"Chicago, IL"
1634316111,"Leo Burnett Company, Inc Analyst, Data Science...","Leo Burnett Company, Inc Analyst, Data Sciences","Chicago, IL"
1634759404,Deloitte Pcoe Data Scientist Senior Consultant...,Deloitte Pcoe Data Scientist Senior Consultant,"Chicago, IL"
1636975751,"epsilon Data Scientist Job in Chicago, IL | Gl...",epsilon Data Scientist,"Chicago, IL"
1637347442,The Firth Group Data Scientist - Healthcare Jo...,The Firth Group Data Scientist - Healthcare,"Chicago, IL"
1637780563,"Data Science Intern Job in Northbrook, Illinoi...",Data Science Intern,"Northbrook, Illinois from InsuranceJobs.com at..."
1638688000,Uptake Data Scientist Intern *FALL APPLICANTS*...,Uptake Data Scientist Intern *FALL APPLICANTS*,"Chicago, IL"
1638688038,Uptake Data Scientist Programmer Intern Job in...,Uptake Data Scientist Programmer Intern,"Chicago, IL"
1638688040,"Uptake Data Science Architect Job in Chicago, ...",Uptake Data Science Architect,"Chicago, IL"
1639235330,"G/O Digital Associate Data Scientist, Chicago,...","G/O Digital Associate Data Scientist, Chicago, IL","Chicago, IL"
1639425155,Cognizant Technology Solutions Data Scientist ...,Cognizant Technology Solutions Data Scientist,"Chicago, IL"
1641657089,Project Coordinator Advanced Analytics and Dat...,Project Coordinator Advanced Analytics and Dat...,"Chicago, IL"
1641673707,Capgemini Business Analyst 2 - Jr. Data Scient...,Capgemini Business Analyst 2 - Jr. Data Scientist,"Chicago, IL"
1642058105,University of Chicago Data Scientist Job in Ch...,University of Chicago Data Scientist,"Chicago, IL"
1642932463,G/O Digital Associate Data Scientist Job in Ch...,G/O Digital Associate Data Scientist,"Chicago, IL"
1643267425,Deloitte Data Scientist - Vizstudio - Universi...,Deloitte Data Scientist - Vizstudio - University,"Chicago, IL"

In [135]:
stats_df

,Text,Title,Location
1150672576,Slalom LLC. Digital Analytics Consultant Job i...,Slalom LLC. Digital Analytics Consultant,"Chicago, IL"
1150672610,"Slalom LLC. Data Analyst Job in Chicago, IL | ...",Slalom LLC. Data Analyst,"Chicago, IL"
1150672917,Slalom LLC. Business Intelligence and Analytic...,Slalom LLC. Business Intelligence and Analytic...,"Chicago, IL"
1152109459,Clarity Solution Group Data Analyst Job in Chi...,Clarity Solution Group Data Analyst,"Chicago, IL"
1437932634,Innovative Systems Group Statistical Analyst J...,Innovative Systems Group Statistical Analyst,"Chicago, IL"
1447299255,Job Details Skip Navigation Sign In to access ...,NA,NA
1486813529,Job Opportunity - Alliance DataGo to the main ...,NA,NA
1486813775,Job Opportunity - Alliance DataGo to the main ...,NA,NA
1489379587,Belvedere Trading Quantitative Analyst Job in ...,Belvedere Trading Quantitative Analyst,"Chicago, IL"
1493887570,Razorfish Careers - Join Our Agency and Redefi...,NA,NA
1497192838,Underwriters Laboratories Data Analyst Job in ...,Underwriters Laboratories Data Analyst,"Northbrook, IL"
1518228616,Acquirent Inside Sales Executive - Commercial ...,Acquirent Inside Sales Executive - Commercial ...,"Evanston, IL"
1518250028,Groupon Careers GrouponJobs Careers Teams Loca...,NA,NA
1521599339,Mesirow Financial Quantitive Analyst Job in Ch...,Mesirow Financial Quantitive Analyst,"Chicago, IL"
1542813135,Applicant Home Look Up http Job Description Jo...,NA,NA
1543358065,Ninjob | Employment Marketing Sr. Actuarial An...,Ninjob | Employment Marketing Sr. Actuarial An...,"Chicago, IL"
1548360564,Datastax DSE Analytics Engineer Job in Chicago...,Datastax DSE Analytics Engineer,"Chicago, IL"
1549025789,"Sagence Data Analyst Job in Chicago, IL | Glas...",Sagence Data Analyst,"Chicago, IL"
1549262470,Concord Martin Statistical Data Mining Analyst...,Concord Martin Statistical Data Mining Analyst...,"Chicago, IL"
1551891215,Monster Solutions CRM Analytics Specialist - (...,NA,NA
1552447504,Sonoco Careers HomeEmploymentSonoco Home Searc...,NA,NA
1552965638,Groupon Careers GrouponJobs Careers Teams Loca...,NA,NA
1562863626,Razorfish Careers - Join Our Agency and Redefi...,NA,NA
1570369016,AMD-Molecular Sr Clinical Data Analyst Job in ...,AMD-Molecular Sr Clinical Data Analyst,"Des Plaines, IL"
1570374443,Abbott Labs Sr Clinical Data Analyst Job in De...,Abbott Labs Sr Clinical Data Analyst,"Des Plaines, IL"
1570381008,Abbott Sr Clinical Data Analyst Job in Des Pla...,Abbott Sr Clinical Data Analyst,"Des Plaines, IL"
1571042151,"DATA ANALYST- SENIOR - Chicago - Chicago, IL H...",NA,NA
1571432594,Job Opportunity - Alliance DataGo to the main ...,NA,NA
1571560765,Ninjob | Employment Marketing Predictive Model...,Ninjob | Employment Marketing Predictive Model...,"Chicago, IL"
1576314958,Premiere Onboard Data Analyst II Job in Chicag...,Premiere Onboard Data Analyst II,"Chicago, IL"
...,...,...,...
1635996100,KFZ Professionals Web Analytics Analyst Job in...,KFZ Professionals Web Analytics Analyst,"Chicago, IL"
1636008813,Citi Retail Services - Price Management Specia...,Citi Retail Services - Price Management Specia...,"Elk Grove Village, IL"
1636310222,"Benton Search Associates, Inc. Statistician - ...","Benton Search Associates, Inc. Statistician - ...","Chicago, IL"
1636454306,"Data Analyst - Make Corporation - Chicago, IL ...",NA,NA
1636754711,Noble Network of Charter Schools Data Analytic...,Noble Network of Charter Schools Data Analytic...,"Chicago, IL"
1638397756,Pro Trading Search C# Quantitative Developer P...,Pro Trading Search C# Quantitative Developer P...,"Chicago, IL"
1638633882,AT&T Sr Mktng Database Statistician Job in Chi...,AT&T Sr Mktng Database Statistician,"Chicago, IL"
1638688010,"Uptake Data Scientist Job in Chicago, IL | Gla...",Uptake Data Scientist,"Chicago, IL"
1639325094,APPLY NOW!HOME | ABOUT CNA | CAREERSGo to the ...,NA,NA
1639631306,BMO Financial Group Quantitative Analyst - Mod...,BMO Financial Group Quantitative Analyst - Mod...,"Chicago, IL"
1640351750,UnitedHealth Group Market Healthcare Analytics...,UnitedHealth Group Market Healthcare Analytics...,"Chicago, IL"
1640491587,Performics Sr. Analyst - Analytics Job in Chic...,Performics Sr. Analyst - Analytics,"Chicago, IL"
1640600099,GoHealth Manager of Call Center Planning & Ana...,GoHealth Manager of Call Center Planning & Ana...,"Chicago, IL"
1640893378,"Data Analyst - Cystems Logic - Chicago, IL - 1...",NA,NA
1641668825,Ninjob | Employment Marketing IL Senior Proper...,Ninjob | Employment Marketing IL Senior Proper...,"Chicago, IL"
1641700048,TBWA\ Web Analytics and Digital Marketing Repo...,TBWA\ Web Analytics and Digital Marketing Repo...,"Chicago, IL"
1642811920,Ultimate Workforce Solutions Pre-Sales Solutio...,Ultimate Workforce Solutions Pre-Sales Solutio...,"Chicago, IL"
1642945025,Presence Health FIN ANALYST COST ANALYTICS Job...,Presence Health FIN ANALYST COST ANALYTICS,"Chicago, IL"
1643005258,"Ketchum Project Manager (Research Manager), Re...","Ketchum Project Manager (Research Manager), Re...","Chicago, IL"
1643205658,Federal Reserve Bank of Chicago CBS ASSOCIATE ...,Federal Reserve Bank of Chicago CBS ASSOCIATE ...,"Chicago, IL"
1643837712,iKasInternational C++ Quantitative Developer J...,iKasInternational C++ Quantitative Developer,"Chicago, IL"
1644262385,APPLY NOW!HOME | ABOUT CNA | CAREERSGo to the ...,NA,NA
1644384672,"SAS Modeler/Statistician - Bluenog - Chicago, ...",NA,NA
1644570587,Anthem Marketing Senior Marketing Data Analyst...,Anthem Marketing Senior Marketing Data Analyst,"Chicago, IL"
1644912412,IBM Analytics First Line Manager Job in Chicag...,IBM Analytics First Line Manager,"Chicago, IL"
1644913468,IBM Predictive Analytics Technical Sales Profe...,IBM Predictive Analytics Technical Sales Profe...,"Chicago, IL"
1644917350,"IBM IBM ANalytics Statistician Job in Chicago,...",IBM IBM ANalytics Statistician,"Chicago, IL"
1645008572,Ultimate Workforce Solutions LLC Pre-Sales Sol...,Ultimate Workforce Solutions LLC Pre-Sales Sol...,"Chicago, IL"
789946381,IMC Financial Markets Quantitative Developer J...,IMC Financial Markets Quantitative Developer,"Chicago, IL"
879967735,CCC Information Analytic Product Managers Job ...,CCC Information Analytic Product Managers,"Chicago, IL"

###Write to CSV

In [147]:
import datetime
now = datetime.datetime.now()
ds_df.to_csv('DS_Glassdoor_{0}_{1}_{2}.csv'.format(now.month,now.day,now.year))
stats_df.to_csv('STATS_Glassdoor_{0}_{1}_{2}.csv'.format(now.month,now.day,now.year))